html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100%;
}

#page {
    width: 70%;
    min-width: 300px;
    margin: auto auto;
}

#title {
    text-align: center;
}

#item {
    display: flex;
}

.outline {
    outline: solid;
    border-radius: 10px;
}

.localRow {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.checksheet {
    width: 70px;
    height: 70px;
}

.row_item {
    display: flex;
}

.w-20 {
    width: 20%;
}

.w-60 {
    width: 60%;
}

.h-center {
    justify-content: center;
}

.button {
    background-color: black;
    color: white;
    width: 70px;
    height: 50px;
}

.b-color {
    background-color: #e3f2fd;
}

.p-color {
    background-color: #b3b3b3;
}

.s-color {
    background-color: #ffb74d;
}